# Sunshine binds all IPv4/IPv6 interfaces when bind_address is omitted.
# Select the qualified workstation output and encoder in package provisioning.
STATIONCONNECT_HOST_OPTIONS=address_family=both output_name=1 encoder=software-cuda min_threads=33 sw_preset=ultrafast sw_tune=zerolatency
